@model OTS.AuthCenter.Models.Building

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Building</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuildingAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuildingAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuildingAddress2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuildingAddress2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuildingDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuildingDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiteId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiteId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
